.nav {
    grid-area: n;
    /* background-color: rgb(187, 98, 135); */
    background-color: rgb(230, 138, 158);
    padding: 20px;
  }

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}