.friends {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.friends .friendAva img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.namefriend {
    padding: 10px;
  }

  /* .dialogsItem .active {
    color: gold;
  } */