.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  
}

.dialogsItem {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dialogsItem .active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
  text-decoration: none;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}